.container-project {
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: auto;
  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
  
}

.btn-project {
    margin: 30px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

.btn-project:hover{
    background-color: black;
    background-color: rgb(235, 201, 235);
    
}

.project-title{
    font-size:30px;
    margin-top:20px
}

.project-links{
display:flex;
justify-content:center
}

.content-project > h1 {
  font-size: 30px;
  font-weight: 600;
}

.menu {
  display: flex;
}

.project-image {
  height: 300px;
  margin: 0px;
  padding: 0px;
  border: 1px solid purple;
  border-radius: 100%;
}
.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  border-radius: 20px;
  padding: 30px;
  border: 1px solid white;
  width: 380px;
  text-align: center;
  
}

.projects {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
}

@media screen and (min-width: 441px) and (max-width: 1200px){
  .container-project {
    width: 80%;
    padding: 20px;
    flex-direction: column;
  }

  .menuItems {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0;
    margin: auto;
  }


}

/* ✅ Responsive Styles for Mobile Devices */
@media screen and (max-width: 440px) {
  .container-project {
    width: 90%;
    padding: 20px;
    flex-direction: column;
  }

  .menuItems {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0;
    margin: auto;
  }

  .menuItems a {
    font-size: 20px;
  }

  .project-image {
    /* width: 80%; */
    /* height: 300px; */
    margin: 0px;
    padding: 0px;
    border-radius: 100%;
  }

  .project-card {
    width: 90%;
    margin-bottom: 20px;
    padding: 20px;
    margin: auto;
  }

  .projects {
    flex-direction: column;
    gap: 20px;
  }

  .content-project > h1 {
    font-size: 24px;
  }
}
