.container-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: auto;
  border-radius: 20px;
  padding: 30px;
  margin-top: 50px;
  /* border: 2px solid black */
}
.content-skills {
  width: 100%;
}

.content-skills > h1 {
  display: flex;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.skills {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}
.skill {
  display: flex;
  margin: auto;
  border-radius: 20px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.skill > img {
  margin: auto;
  border-radius: 0%;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .container-skills {
    flex-direction: column;
    width: 90%;
    padding: 20px;
    text-align: center;
  }

  .container-skills > div {
    width: 90%;
    margin-bottom: 20px;
  }

  .content-skills > h1 {
    font-size: 24px;
    justify-content: center;
    text-align: center;
  }

  .skills {
    flex-direction: column;
    gap: 15px;
  }

  .skill {
    width: 100%;
    padding: 15px;
  }

  .skill > img {
    width: 70px;
    height: 70px;
  }
}
