.navbar {
    position: sticky;
    top: 0;
    width: 90%;
    padding: 20px 30px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  
  .title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  .menuItems {
    display: flex;
    gap: 40px;
    list-style: none;
  }
  
  .menuItems li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
  
  /* Mobile view */
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .menuItems {
        
      display: none;
      position: absolute;
      top: 90px;
      right: 0;
      width: 50%;
      background-color: #000428;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      border-radius: 0 0 10px 10px;
      gap: 20px;
    }
  
    .menuItems.open {
      display: none;
    }
  }
  
  .menuItems li a {
    font-size: 20px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    padding: 10px;
  }
  
  .menuItems li a:hover {
    background-color: black;
    color: white; /* Aqua or neon effect */
    border-radius: 10px;
  }
  
  .menuItems li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: #192c2c;
    transition: width 0.3s ease;
  }
  
  .menuItems li a:hover::after {
    width: 100%;
  }
  